<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.streethawk.library.growth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true" android:label="StreetHawkGrowth">

        <receiver
            android:name="com.streethawk.library.growth.Register"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
